body {
    margin: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.avatar {
    width: 150px;
    border-radius:20px ;
    
}

.card {
    width: 400px;
    margin: 0 auto;
    padding: 30px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: #14213D;
    color: #E5E5E5;

    border-bottom: 5px solid #FCA311;
    border-top: 5px solid #FCA311;
    border-radius: 10px;
        
    /*
    Challenge:
    Find a color palette you like on Coolors.co
    and use it in your business card.
     */
}

.border-blue {
    border: 1px dotted #802392;
}

/*
Stretch goals:
Find other ways you can personalize 
the design of your business card, e.g.:
- change the border(s)
- add border radius
- shuffle the layout
- shadows        🤯
- hover effects  🤯🤯
- animations     🤯🤯🤯
*/

/*
Final challenge:
Download the code to your local computer and place it
in a folder called "business-card"
*/